include header_template
    title Unsuccess Create
body
    include header
    h3 Oops! Something went wrong!
    h3 Can't create new account with this request.
    a(class="login-create" href="/login") Login
include footer