doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Unsuccess Create
body 
    h3 Oops! Something went wrong!
    h3 Can't create new account with this request.
    a(class="login-create" href="/login") Login