div.header
    h1 Poem Competition
    div
        if isLogin === true
            a(href='/') Home
        if !isLogin
            a(href='/guest') Home
        a(href='/rules') Rules
        button#dark-light Toggle Mode
        if isLogin === true
            a(href='/submission') New Submission
            a(href='/logout') Sign Out 
        if !isLogin
            a(href='/guest') View as Guest
            a(href='/login') Sign In