doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login Page
    body 
        div#login-nav
            form(id="login-form" actioin="/login" method="POST")
                br
                label(for="username") Username:
                input(type="text" name="username" id="username")
                br
                label(for="password") Password:
                input(type="password" name="password" id="password")
                br
                button(type="submit") Login
            p Don't have an account yet?
            p Create a new account with your new username and password below:
            a(class="login-create" href="/create") Create