include header_template
    title Login Page
    body
        include header
        div#login-nav
            form(id="login-form" actioin="/login" method="POST")
                br
                label(for="username") Username:
                input(type="text" name="username" id="username")
                br
                label(for="password") Password:
                input(type="password" name="password" id="password")
                br
                button(class='button' type="submit") Login
            p Don't have an account yet?
            p Create a new account with your new username and password below:
            a(class="login-create" href="/create") Create
    include footer