include header_template
    title Poem Competition Rules

body
    include header
    h1 Welcome to the Poem Competition!

    section
        h2 Submission Guidelines
        p Poems must be original and not previously published. Limit the length of the poem is 200 charaters. It's to avoid large text since it's likely to get less votes.
    section
        h2 Theme
        p This is an open-ended topics, and not specific theme is required. However, you should be respectful with others.
    section
        h2 Number of Entries
        p You can submit as many as you want, but only the one with highest number of votes will be used.
    section
        h2 User Accounts
        p Require participants to create user accounts to submit poems and vote. Specify the account creation process and information required.
include footer