include header_template
    title Submission Page
    body
        include header
            a(href='/logout') Sign Out
        h1 Let's Make an Impression!
        p Create your new submission by typing the text and then click submit.
        form(action='/submit' method='POST' class='submission-form')
            textarea(placeholder="Type your poem here." name="poemText")
            button Submit
    include footer