doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Submission Page
    body
        form(action='/submit' method='POST')
            textarea(placeholder="Type your poem here." name="poemText")
            button Submit